<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">
      <div class="hero mb-5">
        <div class="row">
          <div class="col-lg main-content">
            <h1 class="main-title">
              Hi, I'm Manuel. A Junior Backend Developer
            </h1>
          </div>
          <div class="col-lg" style="height: 100%">
            <div class="glass mt-3" id="about-me">
              <h2 class="mt-3">About Me</h2>
              <div class="me" style="height: 100%">
                <div>
                  <img src="img/me.jpeg" alt="me" /><br />
                  <h3 class="mt-2">Thats Me!</h3>
                </div>
              </div>
              <div id="about">
                <p class="mb-3">
                  I am a Junior Backend Developer specializing in the MERN
                  Stack, with strong expertise in JavaScript, Node.js, and both
                  relational (PostgreSQL) and non-relational (MongoDB)
                  databases. My skills extend to frontend development with
                  React, real-time communication using Socket.IO, and secure
                  data handling with JWT. I am passionate about creating
                  scalable, secure backend solutions and am seeking a remote
                  position where I can contribute to innovative projects and
                  continue growing my career.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer.ejs')%>

    <script src="/js/main.js"></script>
  </body>
</html>
