<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container">
    <div class="hero">
    <div class="row">
        <div class="col-lg main-content">
            <h1 class="main-title">Hi, I'm Manuel. A Backend Developer on Training</h1>
        </div>
        <div class="col-lg" >
            <div class="img-skull">
             <img src="img/pngegg.png" alt="" class="big-skull">
                 <img src="img/imgbin_8-bit-color-skull-pixel-art-png.png" alt="" class="mini-skull1">
                 <img src="img/imgbin_8-bit-color-skull-pixel-art-png.png" alt="" class="mini-skull2">
                 <img src="img/imgbin_8-bit-color-skull-pixel-art-png.png" alt="" class="mini-skull3">
                 <img src="img/imgbin_8-bit-color-skull-pixel-art-png.png" alt="" class="mini-skull4">
            </div>
        </div>
     </div>
    </div>
</div>  
<div class="container">
    <div class="glass" id="about-me">
        <h2 class="mt-3">About Me</h2>
        <div class="row">
            <div class="col-md">
                <div class="me" style="height: 100%;">
                <div  class=""><img src="img/me.jpg" alt="me"><br>
                <h3 class="mt-2">Thats Me!</h3>
                </div>
                </div>
            </div>
            <div class="col-md" id="about">
                <h3 class="mt-sm-3">I'm Manuel</h3>
                <p class="mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda reprehenderit commodi quis quo impedit? Iusto dolores nostrum labore rerum animi culpa quas neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero officia illo, cupiditate debitis aperiam animi adipisci obcaecati provident fugiat sequi recusandae quo veniam totam iste, consequuntur error veritatis ut eius.</p>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs')%>

<script src="/js/main.js"></script>
</body>
</html>