<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <!-- navbar -->
    <%- include('partials/navbar.ejs') %>
    
    <h2 class="text-center text-white project-title">Projects</h2>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>Countdown</h3><p>To do Exercise!</p>
                <div class="img-projects"><a href="https://cbmanu.github.io/countdown/"><img src="img/Screenshot_26.png" alt="" height="auto"></a></div>
             </div>
             <div class="col text-center">
                <h3>Countdown</h3><p>To do Exercise!</p>
                <div class="img-projects"><a href="https://cbmanu.github.io/countdown/"><img src="img/Screenshot_26.png" alt="" height="auto"></a></div>
             </div>
        </div>
    </div>

    <!-- footer -->
    <%- include('partials/footer.ejs')%>
</body>
</html>