/* settings */

body{
    font-family: 'Supermercado One', cursive;
    background: linear-gradient( #0F2027,#203A43 );
    font-weight: 600;
	color: #7F8C8D;
	position: relative;
}
:root{
    --main-color:#fff
}


/* navbar */

.navbar{
    font-size: 18px;
}
.navbar-brand{
    font-size: 26px;
}

/* main content */

.main-content{
    display: flex;
    align-items: center;
}

.main-title{
    font-family: 'Roboto Mono', monospace;
    color:  #7F8C8D;
    font-size: 4.5em;
    font-weight: 600;
}

.main-title span{
    opacity: 0;
    transition: all 1.5s ease;
}
.main-title span.animation{
    opacity: 1;

}

/* image */

.img-skull{
    position: relative;
    text-align: center;
}

.mini-skull-logo{
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.mini-skull1{
    position: absolute;
    top: 0;
    left: 0px;
}
.mini-skull2{
    position: absolute;
    top: 0;
    right: 5px;
}
.mini-skull3{
    position: absolute;
    top: 350px;
    left: 0;
}
.mini-skull4{
    position: absolute;
    top: 350px;
    right: 5px;
}

/* about me */

.glass{
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid white;
	border-radius: 10%;
	text-align: center;
	margin: 30px;
}
.glass p {
	text-align: justify;
}
.glass .row{
	width: 100%;
}

/* form */
.form-group .btn{
	width: 100%;
}

/* Skills Page */

.skills-title{
	text-align: center;
	font-size: 3em;
	margin-top: 35px;
	color: #fff;
}

/* Projects Page */

.project-title{
	font-size: 3em;
	margin-top: 35px;
}
.img-projects{
	width: 85%;
	height: auto;
	margin: auto;
}
.img-projects img{
	position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
    object-fit: cover;
	transition: all ease 0.5s;
}
.img-projects img:hover{
	transform: scale(1.05);
}

/* footer */

footer{
	background-color: #212529;
	margin-top: 30px;
}

/* responsive*/

@media screen and (min-width: 1920px) {
    .hero{
        margin-top: 20vh;
        margin-bottom:200px ;
    }
    .logo{
        font-size: 60px;
        font-weight: 700;
    }
    .menu{
        font-size: 22px;
        line-height: 70px;
    }
    .menu li a:hover{
        border: 2px solid #7F8C8D;
        background-color: #7F8C8D;
        border-radius: 10%;
        padding: 14px;
        font-size: 26px;
    }
}

/* circles */

.circles {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(96, 183, 199, 0.1);
	animation: animate 25s linear infinite;
	bottom: calc(-1px - 1vh);
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(50, 46, 112, 0.4);
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.4);
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.4);
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 15s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.4);
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.4);
}

.circles li:nth-child(6) {
	left: 75%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.4);
}

.circles li:nth-child(7) {
	left: 35%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 30s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.4);
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
	animation-duration: 35s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.4);
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 0s;
	animation-duration: 40s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.4);
}

.circles li:nth-child(10) {
	left: 85%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 45s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.4);
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: translateY(-60vh) rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-120vh) rotate(720deg);
		opacity: 0;
	}
}